@charset "UTF-8";
/* CSS Document */

#title{
	font-family: Avenir;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 7px;
	color:#E6E6EA;
}

body{
<<<<<<< HEAD
	background-color: #000000;
=======
	background-color: #030024;
>>>>>>> parent of 1ac109b...  changed title and added more css
}