@charset "UTF-8";
/* CSS Document */

#title{
	font-family: Avenir;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 7px;
	color:#E6E6EA;
	margin-bottom: 30px;
	margin-top: 50px;
}

body{
	background-color:#000000;
}

.padding{
	padding-top: 2000px;
}

h4{
	font-family: Avenir, "Century Gothic", Corbel, Garamond, 	
	Baskervill, Helvetica, sans serif;
	text-align:center;
	font-weight: lighter;
	font-size: 100%;
	color: #FFFFFF;
}

p{
	font-family: Avenir, "Century Gothic", Corbel, Garamond, 	
	Baskervill, Helvetica, sans serif;
	text-align:center;
	font-weight: lighter;
	font-size: 70%;
}

.planetBox{
	font-family: Avenir, "Century Gothic", Corbel, Garamond, 	
	Baskervill, Helvetica, sans serif;
	text-align:center;
	font-size: 100%;
	color: #FFFFFF;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#sunImg{
	width: 600px;
	height: auto;
}

#sunText{
	color:#FB5400;
}

#mercuryImg{
	width: 90px;
	height: auto;
}

#mercuryText{
	color:#F3DF92;
}

#venusImg{
	width: 160px;
	height: auto;
}

#venusText{
	color:#46A400;
}

#earthImg{
	width: 200px;
	height: auto;
}

#earthText{
	color:#007F83;
}

#marsImg{
	width: 120px;
	height: auto;
}

#marsText{
	color:#B00002;
}

#jupiterImg{
	width: 400px;
	height: auto;
}

#jupiterText{
	color:#FF2590;
}

#saturnImg{
	width: 300px;
	height: auto;
}

#saturnText{
	color:#9A00E5;
}

#uranusImg{
	width: 250px;
	height: auto;
}

#uranusText{
	color:#00CDED;
}

#neptuneImg{
	width: 220px;
	height: auto;
}

#neptuneText{
	color:#1100C2;
}

#plutoImg{
	width: 60px;
	height: auto;
}

#plutoText{
	color:#E2C302;
}






