@charset "UTF-8";
/* CSS Document */

#title{
	font-family: Avenir;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 7px;
	color:#E6E6EA;
	margin-bottom: 30px;
	margin-top: 50px;
}

body{
	background-color:#000000;
}

h4{
	font-family: Avenir, "Century Gothic", Corbel, Garamond, 	
	Baskervill, Helvetica, sans serif;
	text-align:center;
	font-weight: lighter;
	font-size: 100%;
}

.planetBox{
	font-family: Avenir, "Century Gothic", Corbel, Garamond, 	
	Baskervill, Helvetica, sans serif;
	text-align:center;
	font-size: 100%;
	color: #FFFFFF;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#sunImg{
	width: 500px;
	height: auto;
}

#sunText{
	color:#FB5400;
}